.oops{
    margin-top: 70px;
}
.titlesO h1{
    color: #7E54E0;
}
.titlesO h2{
    color: #5C5C5C;
    font-size: 40px;
}
.ims404 img{
    width: 65%;
    height: auto;
}
@media(max-width:768px){
    .ims404 img{
    width: 100%;
    height: auto;
}
}
.errnavlink{
  
    background-color: #7E54E0;
    padding: 15px;
    padding-inline: 60px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
}